.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    background-color:darkgrey;
    color: white;
}

.heading_div {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    color: black;
    float: none;
    box-shadow: 5px 5px 5px grey;
}

.heading_div2 {
    font-size: 18px;
}

.box {
    font-size: 18px;
}

canvas{
    border: solid 6px gray;
    border-radius: 20px;
    margin-top: 170px;
}